#pins.transitions-enable

    - @pins.each do |pin|
        .box.panel.panel-dafault
            = link_to (image_tag pin.image.url) , pin
            .panel-body
                %h2= link_to pin.title, pin
                %p.user
                Submitted by
                = pin.user.try(:email)
